@tailwind base;

:root {
    --dark: #373C1A;
    --white: #FAFFE3;
    --green: #7A910D;
}
/* Scrollbar for firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--green) var(--dark);
    scroll-behavior: smooth;
}
/* Scrollbar for another browsers */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    background: var(--dark);
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 10px;
    border: 3px solid var(--dark);
}

*::selection {
    background: var(--green);
    color: var(--white)
}

@tailwind components;
@tailwind utilities;